.name {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 7px;
  width: 100px; }

.criterion-value {
  font-size: 7px;
  width: 100px; }

.status-value {
  font-size: 7px;
  width: 80px; }
