.classification-col {
    width: 50px;
    font-size: 7px;
}

.status-value {
    font-size: 7px;
    width: 80px;
}
.criterionValueBar {
    width: 100px;
}
.project-name {
    font-size: 8px;
    width: 100px;
}
.candidate-ox {
    font-size: 8px;
    width: 70px;
}
.score {
    display: flex;
    justify-content: flex-start;
    font-size: 8px;
    width: 150px;
}

.attributes {
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 6px;
    // text-align: center;
}

.separator {
    width: 100%;
    background-color: #eeeeee;
    height: 5px;
}

.grey-zone {
    background-color: #e2e2e2;
}
.cand-zone {
    background-color: skyblue;
}
.noncand-zone {
    background-color: orchid;
}


.candidate-bars {
    font-size: 8px;
    width:300px;
    display: flex;
    text-align:right;
    justify-content: flex-end;
}
.noncandidate-bars {
    font-size: 8px;
    width:300px;
    display: flex;
    justify-content: flex-start;
}
.weight-bar {
    height: 15px;
}

.cand-separator {
    margin-left: 3px;
    margin-right: 3px;
    width: 1px;
    height: 15px;
    background-color: #777777
}

.bars {
    width: 607px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
}

.flex-align-right {
    justify-content: flex-end;
}

.header-bars {
    width: 300px;
    height: 3px;
    background-color: #999999;
    border: 1px solid #999999;
}
