.status-value {
  font-size: 7px;
  width: 80px; }

.criterionValueBar {
  width: 100px; }

.project-name {
  font-size: 8px;
  width: 100px; }

.candidate-ox {
  font-size: 8px;
  width: 70px; }

.score {
  display: flex;
  justify-content: flex-start;
  font-size: 8px;
  width: 150px; }

.attributes {
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 6px; }

.separator {
  width: 100%;
  background-color: #eeeeee;
  height: 1px; }

.grey-zone {
  background-color: #e2e2e2; }

.candidate-bars {
  font-size: 8px;
  width: 300px;
  display: flex;
  text-align: right;
  justify-content: flex-end; }

.noncandidate-bars {
  font-size: 8px;
  width: 300px;
  display: flex;
  justify-content: flex-start; }

.weight-bar {
  height: 15px; }

.cand-separator {
  margin-left: 3px;
  margin-right: 3px;
  width: 1px;
  height: 15px;
  background-color: #777777; }

.bars {
  display: flex;
  justify-content: center; }
