.status-value {
    font-size: 7px;
    width: 80px;
}
.criterionValueBar {
    width: 100px;
}
.project-name {
    font-size: 8px;
    width: 100px;
}
.candidate-ox {
    font-size: 8px;
    width: 100px;
}
.score {
    font-size: 8px;
    width: 50px;
}

.attributes {
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 8px;
    text-align: center;
}