$loc-indicator-height: 4px;
$loc-indicator-side-style: $loc-indicator-height*.5 solid transparent;


.App {
  text-align: center;
}

#App-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#App-header {
  z-index: 1000;
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);

  #App-title{
    font-size: 1rem;
    font-weight: bold;
    color: #717171;
    text-transform: uppercase;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-container {
  flex: 1;
  display: flex;
  overflow: hidden;

  .App-sidebar {
    background: white;
    overflow-y: auto;
    width: 530px;
    border-right: 3px solid #c6c6c6;

    #criterion-list-panel {
      .criterion-row {
        padding: 0.5rem 0rem;
        border-bottom: 1px solid #b4b4b4;

        .criterion-name {
          font-weight: bold;
          font-size: 0.75rem;
        }

        .criterion-category-list-container {
          padding: 0;
          display: flex;
          flex-wrap: wrap;

          .category {
            width: 70px;
            padding: 0;
            border: 1px solid #e3e3e3;
            border-radius: 0.25rem;
            margin: 0.25rem 0.25rem;
            font-size: 0.6rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: -moz-none;
            -o-user-select: none;
            user-select: none;

            .name {
              padding: 0.25rem 0.5rem;
              background: #fafafa;
            }

            .status-container {
              display: flex;
              align-items: baseline;
              justify-content: space-between;
              padding: 0.5rem 0.5rem;

              .status-button {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 50%;
                border: 2px solid gray;
                position: relative;
                cursor: pointer;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: -moz-none;
                -o-user-select: none;
                user-select: none;

                .status {

                  &.status-cand {
                    background: skyblue;
                    left: 1px;
                    top: 1px;
                    right: 1px;
                    bottom: 1px;
                    position: absolute;
                    border-radius: 50%;
                  }

                  &.status-noncand {
                    // font-size: 1.5rem;
                    // line-height: 0.5;
                    // position: absolute;
                    // left: 1px;
                    // top: 0px;
                    // color: gray;
                    // font-weight: 500;
                    background: orchid;
                    left: 1px;
                    top: 1px;
                    right: 1px;
                    bottom: 1px;
                    position: absolute;
                    border-radius: 50%;
                  }

                  &.status-weight {
                    font-size: 0.75rem;
                    font-weight: bold;
                    color: gray;
                    position: absolute;
                    left: 2px;
                  }
                }
              }
            }

            .weight-slider {
              background: #fafafa;
              width: 16px;
              height: 32px;
              border: 1px solid #dedede;
              position: relative;

              .zero-indicator {
                position: absolute;
                top: calc(50% - 0.5px);
                left: 0;
                right: 0;
                border-bottom: 1px solid #0000008f;
                pointer-events: none;
              }

              .slider-bar {
                position: absolute;
                left: 0;
                right: 0;
                background: #a0a0a0;
                pointer-events: none;
              }

              .loc-indicator {
                position: absolute;
                border-top: $loc-indicator-side-style;
                border-bottom: $loc-indicator-side-style;
                pointer-events: none;

                &.start {
                  border-left: $loc-indicator-height solid #555;
                  transform: translate(-100%, -50%);
                  left: 0;
                }

                &.end {
                  border-right: $loc-indicator-height solid #555;
                  transform: translate(100%, -50%);
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .App-main {
    flex: 1;
    background: #fafafa;
    overflow-y: auto;
  }
}

.criterion-weight-slider {
  flex: 1;
  background: #fafafa;
  height: 16px;
  margin-left: 1px;
  border: 1px solid #dedede;
  position: relative;
  width: 70px;

  .slider-bar {
    position: absolute;
    background: #a0a0a0;
    height: 100%;
  }
}